{% block a2lix_translations_widget %}
	{% set defaultLocale = default_locale %}
	{% set requestLocale = app.request.locale %}

	{% set locales = [] %}
	{% for translationsFields in form %}
		{% set locales = locales | merge([translationsFields.vars.name]) %}
	{% endfor %}

	{# determine all field names #}
	{% set fieldNames = [] %}
	{% for translationsFields in form %}
		{% for field in translationsFields %}
			{% set fieldName = field.vars.name %}
			{% if fieldName not in fieldNames %}
				{% set fieldNames = fieldNames | merge([fieldName]) %}
			{% endif %}
		{% endfor %}
	{% endfor %}

	<div class="a2lix_translations tabbable">
		<ul class="a2lix_translationsLocales nav nav-tabs">
			{% for translationsFields in form %}
				{% set locale = translationsFields.vars.name %}

				<li{% if locale == defaultLocale %} class="active"{% endif %}>
					<a href="javascript:void(0)" data-toggle="tab" data-target=".a2lix_translationsFields-{{ locale }}">
						{{- locale -}}
					</a>
				</li>
			{% endfor %}
		</ul>

		<div class="a2lix_translationsFields tab-content">
			{% for locale in locales %}
				<div class="a2lix_translationsFields-{{ locale }} tab-pane{% if locale == defaultLocale %} active{% endif %}">
					{% if fields is defined and locale == defaultLocale %}
						{# usual entity's fields of the default locale #}
						{% for field in fields %}
							{{ form_row(field, {
									'label': field.vars.label | default(field.vars.name) | trans ~ ' (' ~ locale ~ ')',
									'description': field.vars.attr.description | default(null),
								}) }}
						{% endfor %}
					{% else %}
						{# fields of translations in same order as fields of default locale #}
						{% for fieldName in fieldNames %}
							{% for translationsLocale in form if translationsLocale.vars.name == locale %}
								{% for field in translationsLocale if field.vars.name == fieldName %}
									{{ form_row(field, {
											'label': field.vars.label | default(field.vars.name) | trans ~ ' (' ~ locale ~ ')',
											'description': field.vars.attr.description | default(null),
										}) }}
								{% endfor %}
							{% endfor %}
						{% endfor %}
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block a2lix_translations_gedmo_widget %}
	{% if form.vars.simple_way %}
		{{ block('a2lix_translations_widget') }}
	{% else %}
		{# TODO #}
	{% endif %}
{% endblock %}
